{% extends 'base.html' %}
{% load static %}

{% block title %}Генератор паролей | MyToolBox{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm border-primary">
                <div class="card-header bg-primary text-white">
                    <i class="bi bi-shield-lock me-2"></i>Генератор паролей
                </div>
                <div class="card-body text-center">
                    <button id="button" class="btn btn-primary btn-lg">
                        <i class="bi bi-arrow-repeat me-2"></i>Сгенерировать
                    </button>
                    <div id="result" class="mt-4"></div> <!-- Контейнер для результатов -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'random_tools/js/generate_password.js' %}"></script>
{% endblock %}