{% extends 'base.html' %}
{% load static %}

{% block title %}Конвертер регистра | MyToolBox{% endblock %}

{% block content %}
<div class="container mt-5">
    <form name="stringForm" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="text-input" class="form-label">Введите текст:</label>
            <input id="text-input" type="text" name="string" class="form-control" required>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="register" id="up" value="up" required>
                <label class="form-check-label" for="up">ВЕРХНИЙ РЕГИСТР</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="register" id="low" value="low">
                <label class="form-check-label" for="low">нижний регистр</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="register" id="capitalize" value="capitalize">
                <label class="form-check-label" for="capitalize">Первая буква заглавная</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Конвертировать</button>
    </form>
</div>
    <script src="{% static 'text_tools/js/register-convertor.js' %}"></script>

{% endblock %}